{% extends "base.html" %}
{% block content %}	
	<div class="treemap">
		<form>
		  <label><input type="radio" name="mode" value="size" checked> Size</label>
		  <label><input type="radio" name="mode" value="count"> Count</label>
		</form>
	</div>

	<div class="bar-chart">
		<svg class="mon-chart"></svg>
	</div>

	<script>
		var margin = {top: 20, right: 30, bottom: 30, left: 30};
		var width = 1850 - margin.left - margin.right;
		var barHeight = 500 - margin.top - margin.bottom;
		var treeHeight = 1024 - margin.top - margin.bottom;

		// Bar Chart
		var x = d3.scale.ordinal()
			.rangeRoundBands([0, width], .05);

		var y = d3.scale.linear()
			.range([barHeight, 0]);

		var xAxis = d3.svg.axis()
			.scale(x)
			.tickFormat("")
			.orient("bottom");

		var yAxis = d3.svg.axis()
			.scale(y)
			.orient("left");

		var chart = d3.select(".mon-chart")
			.attr("width", width + margin.left + margin.right)
			.attr("height", barHeight + treeHeight + margin.top + margin.bottom)
		  .append("g")
		  	.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

		var b_mousemove = function(d) {
			d3.select(this).attr("fill", "red")
			// var xPos = d3.event.pageX;
			// var yPos = d3.event.pageY;

			// d3.select("#tooltip")
			//   .style("left", xPos + "px")
			//   .style("top", yPos + "px");

			// d3.select("#tooltip #pokemon").text(d["name"]);
			// d3.select("#tooltip #rate").text("# of Encounters: " + d["rate"])

			// d3.select("#tooltip").classed("hidden", false);
		};

		var b_mouseout = function(d) {
			d3.select(this).attr("fill", "steelblue")
		};

		d3.tsv('https://s3.amazonaws.com/bas-d3-demo/data/mon_rate_chart.tsv', type, function(err, data) {
			x.domain(data.map(function(d) { return d.name; }));
			y.domain([0, d3.max(data, function(d) { return d.rate; })]);

			chart.append("g")
				.attr("class", "x axis")
				.attr("transform", "translate(0," + barHeight + ")")
				.call(xAxis)
				.selectAll(".tick").each(function (d,i) {
					d3.select(this)
					  .append('image')
					  .attr('xlink:href', "/static/img/" + poke_map[d] + ".png")
					  .attr("x", -10)
					  .attr("y", 7)
					  .attr('width', 18)
					  .attr('height', 18);
				});

			chart.append("g")
				.attr("class", "y axis")
				.call(yAxis);

			chart.selectAll(".bar")
				.data(data)
			  .enter().append("rect")
			  	.attr("class", "bar")
			  	.attr("x", function(d) { return x(d.name); })
			  	.attr("y", function(d) { return y(d.rate); })
			  	.attr("height", function(d) { return barHeight - y(d.rate); })
			  	.attr("width", x.rangeBand())
			  	.on("mousemove", b_mousemove)
			  	.on("mouseout", b_mouseout);
		});

		function type(d) {
			d.rate = +d.rate;
			return d;
		}

		// Treemap 
		var color = d3.scale.category20c();

		var treemap = d3.layout.treemap()
			.size([width, treeHeight])
			.sticky(true)
			.value(function(d) {return d.size;});

		var div = d3.select("body").select("div.content").select("div.treemap").append("div")
			.style("position", "relative")
			.style("width", (width + margin.left + margin.right) + "px")
			.style("height", (treeHeight + margin.top + margin.bottom) + "px")
			.style("left", margin.left + "px")
			.style("top", margin.top + "px");

		var mousemove = function(d) {
			console.log(d3.event.pageX)
			var xPos = d3.event.pageX - 250;
			var yPos = d3.event.pageY;

			d3.select("#tooltip")
			  .style("left", xPos + "px")
			  .style("top", yPos + "px");

			d3.select("#tooltip #pokemon").text(d["name"]);
			d3.select("#tooltip #encounters").text("# of Encounters: " + d["size"])

			d3.select("#tooltip").classed("hidden", false);
		};

		var mouseout = function() {
			d3.select("#tooltip").classed("hidden", true);
		};

		d3.json('https://s3.amazonaws.com/bas-d3-demo/data/mon_treemap.json', function(err, root) {
			if (err) throw err;

			var node = div.datum(root).selectAll(".node")
				.data(treemap.nodes)
			  .enter().append("div")
			  	.attr("class", "node")
			  	.call(position)
			  	.style("background", function(d) { return d.children ? color(d.name) : null; })
			  	.text(function(d) { return d.children ? null : d.name; })
			  	.on("mousemove", mousemove)
			  	.on("mouseout", mouseout);

			d3.selectAll("input").on("change", function change() {
				var value = this.value === "count" ? function() { return 1; } : function(d) { return d.size; };

				node.data(treemap.value(value).nodes)
				  .transition()
					.duration(1500)
					.call(position);
			});
		});

		function position() {
			this.style("left", function(d) { return d.x + "px"; })
				.style("top", function(d) { return d.y + "px"; })
				.style("width", function(d) { return Math.max(0, d.dx - 1) + "px"; })
				.style("height", function(d) { return Math.max(0, d.dy - 1) + "px"; });
		};
	</script>

	<div id="tooltip" class="hidden">
		<p><strong id="pokemon"></strong></p>
		<p><span id="encounters"></span></p>
		<p><span id="rate"></span></p>
	</div>
{% endblock %}